.signup-container {
  min-height: 100vh;
  display: flex;
  background-color: #000;
  color: #fff;
}



/* LEFT IMAGE */
.signup-image {
  flex: 1;
  background-image: url("../assets/instagram.png");
  background-size: cover;
  background-position: center;
}

/* RIGHT FORM */
.signup-form {
  flex: 1;
  max-width: 400px;
  margin: auto;
  padding: 40px;
  border: 1px solid #262626;
  background-color: #000;
  text-align: center;
}

.logo {
  font-family: "Lobster Two", cursive;
  font-weight: 400;
  font-style: normal;
}



.fb-signup {
  background: none;
  border: none;
  color: #0095f6;
  font-weight: bold;
  cursor: pointer;
}

.subtitle {
  color: #8e8e8e;
  margin-bottom: 20px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #121212;
  border: 1px solid #262626;
  color: #fff;
  border-radius: 4px;
}

.signup-form button {
  width: 100%;
  padding: 8px;
  background-color: #0095f6;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #1877f2;
}

.subtitle {
  color: #8e8e8e;
  font-size: 14px;
  margin-bottom: 15px;
}


/* MOBILE */
@media (max-width: 768px) {
  .signup-image {
    display: none;
  }
}

